body{
    background-color: lightgray;
    overflow: hidden;
}

.cim{
    margin: auto;
    text-align: center;
}

.container{
    display: flex;
    vertical-align: middle  ;
    vertical-align: middle;
    width: 100%;
    margin: auto;
    height: 80vh;
}

form{
    margin: auto;
    padding: 2em;
    width: 60%;
    background-color: white;
    border-radius: 15px;
}

#back{
    float: right;
    margin: 5em;
    margin-top: 0;
}