@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Roboto+Condensed&family=Roboto+Slab:wght@300&display=swap');

body{
    background-color: lightgrey;
    font-family: 'Roboto condensed';
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: calc(10px + 0.390625vw);
}

head{
    margin: auto;
    height: 10vh;
}

h1{
    text-align: center;
    letter-spacing: 0.5rem;
    font-weight: bold;
    font-size: 2rem;
}

.kirako{
    float:right;
    width: calc(75% - 2px);
    height: 90vh;
    border-top: 2px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
}

.kirako img{
    height: 32em;
    width: 48em;
    object-fit: contain;
    filter:brightness(0.5);
}

.kirako button{
    position: absolute;
    left: 50%;
    top:50%;
    z-index: 99;
    width: 5em;
    height: 3em;
    transform: translate(-50%, -50%);
}

.kepcontainer{
    position: relative
}

.kirako table{
    width: 48em;
    height: 32em;
    display: none;
    background-color: lightgray !important;
}

.kirako tr{
    height: calc(32em/4);
}

.kirako td{
    width: calc(48em/4);
    border: 1px solid black;
    padding: 0;
    overflow: hidden;   
}

.kirako table tr td:hover{
    filter: brightness(0.5);
}


.baloldal{
    float:left;
    width: 25%;
    border-right: 2px solid black;
    border-top: 2px solid black;
    height: 90vh;
    padding: 1%;
    overflow: hidden;
    display:flex;
    align-items: center;
}

.baloldal .container{
    display: none;
    width: 100%;
    margin: auto;
}

.row{
    width: 100%;
    margin: auto;   
}

.baloldal .col{
    margin: 4%;
    height: 6em;
    width: 9em;
    overflow: hidden;
    padding: 0;
    margin: 1%;
}

.baloldal img:hover{
    filter: brightness(0.6);
}

.container{
    text-align: center;
}

#back{
    display: none;
    position: absolute;
    right: 10px;
    bottom: 5px;
}

#info{
    display: block;
    text-align: center;
    margin-top: 40%;
}


@media (max-width: 1382px) {
    body{
        overflow: scroll;
        position: relative;
    }
    .baloldal{
        font-size: 1.5;
        float:none;
        width: 100%;
        margin: auto;
        height: fit-content;
    }
    #info{
        margin-top: 0;
    }

    .baloldal.container{
        height: inherit;
    }
    .kirako{
        float:none;
        width: 100%;
        margin: auto;
        height: fit-content;
        padding-top: 5em;
    }
}

@media(max-width: 800px){
    body{
        font-size: 0.5em;
    }
    .baloldal{
        font-size: 1.5em;
        height: fit-content;
     }
     h2{
        font-size: medium;
     }
}

@media (max-width: 570px){
    .baloldal{
        font-size: 0.7em;
    }
}


@media(max-width: 550px){
    .kirako{
        font-size: 0.8em;
    }
    .baloldal{
        font-size: 1em;
        height: 30em;
    }

    #back{
        bottom:-40px;
        right:0;
    }
}

@media (max-width: 400px){
    body{
        font-size: 0.4em;
    }
}

@media (max-width: 350px){

    h1{
        font-size: medium;
    }
}